<!-- popular-grids -->
<div class="popular-grids">
    <!-- container -->
    <div class="container">
        <div class="popular-info">
            <h3>Quảng Cáo</h3>
        </div>
        <!-- slider -->
        <div class="slider">
            <div class="arrival-grids">
                <ul id="flexiselDemo1">
                    <li>
                        <a href="products.html">
                            <img src="~/Content/Css/images/a3.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="products.html">
                            <img src="~/Content/Css/images/a2.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="products.html">
                            <img src="~/Content/Css/images/a4.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="products.html">
                            <img src="~/Content/Css/images/a1.jpg" alt="" />
                        </a>
                    </li>
                </ul>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 4,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
                </script>
                <script type="text/javascript" src="~/Content/Css/js/jquery.flexisel.js"></script>
            </div>
        </div>
        <!-- //slider -->
    </div>
    <!-- //container -->
</div>
<!-- popular-grids -->
<div class="footer">
    <!-- container -->
    <div class="container">
        <div class="footer-top-grids">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <h4>Về chúng tôi</h4>
                    <ul>
                        <li><a href="index.html">Giới thiệu</a></li>
                        <li><a href="flights-hotels.html">Điều khoản sử dụng</a></li>
                        <li><a href="index.html">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Dịch vụ</h4>
                    <ul>
                        <li><a href="about.html">Vé máy bay</a></li>
                        <li><a href="faqs.html">Tour du lịch</a></li>
                        <li><a href="terms.html">Phòng khách sạn</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Hỗ trợ</h4>
                    <ul>
                        <li><a href="holidays.html">Hướng dẫn đặt dịch vụ</a></li>
                        <li><a href="weekend.html">Hướng dẫn thay đổi hoàn hủy</a></li>
                        <li><a href="index.html">Hỗ trợ khác</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>Liên hệ</h4>
                    <ul class="chf_footer_list">
                        <li><a href="#">Tuyển dụng đại lý</a></li>
                        <li><a href="#">Thông tin tuyển dụng</a></li>
                        <li><a href="#">Đăng Nhập Admin</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- news-letter -->
            <div class="news-letter">
                <div class="news-letter-grids">
                    <div class="col-md-4 news-letter-grid">
                        <p>Toll Free No : <span>1234-5678-901</span></p>
                    </div>
                    <div class="col-md-4 news-letter-grid">
                        <p class="mail">Email : <a href="mailto:info@example.com">mail@example.com</a></p>
                    </div>
                    <div class="col-md-4 news-letter-grid">
                        <form>
                            <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //news-letter -->
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //footer -->
<div class="footer-bottom-grids">
    <!-- container -->
    <div class="container">
        <div class="footer-bottom-top-grids">
            <div class="col-md-4 footer-bottom-left">
                <h4>Download our mobile Apps</h4>
                <div class="d-apps">
                    <ul>
                        <li><a href="#"><img src="~/Content/Css/images/app1.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/Css/images/app2.png" alt="" /></a></a></li>
                        <li><a href="#"><img src="~/Content/Css/images/app3.png" alt="" /></a></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-bottom-left">
                <h4>We Accept</h4>
                <div class="a-cards">
                    <ul>
                        <li><a href="#"><img src="~/Content/Css/images/c1.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/Css/images/c2.png" alt="" /></a></a></li>
                        <li><a href="#"><img src="~/Content/Css/images/c3.png" alt="" /></a></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-bottom-left">
                <h4>Follow Us</h4>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="facebook twitter"> </a></li>
                        <li><a href="#" class="facebook chrome"> </a></li>
                        <li><a href="#" class="facebook dribbble"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="copyright">
            </div>
        </div>
    </div>
</div>
